In [1]:
import pandas as pd
import numpy
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score
import yfinance as yf

#Used Models
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [2]:
symbol='^NSEI'
ticker = yf.Ticker(symbol)
data=ticker.history(period='max',interval='1m')
data.reset_index(inplace=True)

In [3]:
data.head()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-04-05 10:42:00+05:30,22494.949219,22495.949219,22490.099609,22494.800781,0,0.0,0.0
1,2024-04-05 10:43:00+05:30,22494.800781,22495.400391,22491.849609,22492.550781,0,0.0,0.0
2,2024-04-05 10:44:00+05:30,22491.449219,22492.150391,22487.599609,22489.849609,0,0.0,0.0
3,2024-04-05 10:45:00+05:30,22493.300781,22496.800781,22493.250000,22494.099609,0,0.0,0.0
4,2024-04-05 10:46:00+05:30,22494.199219,22495.500000,22488.699219,22489.849609,0,0.0,0.0

In [4]:
data.tail()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
1492,2024-04-12 10:36:00+05:30,22656.900391,22657.650391,22653.050781,22657.199219,0,0.0,0.0
1493,2024-04-12 10:37:00+05:30,22657.199219,22661.849609,22657.050781,22661.000000,0,0.0,0.0
1494,2024-04-12 10:38:00+05:30,22661.199219,22664.500000,22659.849609,22663.800781,0,0.0,0.0
1495,2024-04-12 10:39:00+05:30,22664.050781,22665.000000,22657.199219,22658.900391,0,0.0,0.0
1496,2024-04-12 10:40:00+05:30,22659.599609,22661.199219,22653.050781,22657.800781,0,0.0,0.0

In [5]:
# data = pd.read_csv('/content/Nifty50_shortTerm_5m_New.csv')

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1497 entries, 0 to 1496
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      1497 non-null   datetime64[ns, Asia/Kolkata]
 1   Open          1497 non-null   float64
 2   High          1497 non-null   float64
 3   Low           1497 non-null   float64
 4   Close         1497 non-null   float64
 5   Volume        1497 non-null   int64
 6   Dividends     1497 non-null   float64
 7   Stock Splits  1497 non-null   float64
dtypes: datetime64[ns, Asia/Kolkata](1), float64(6), int64(1)
memory usage: 93.7 KB
None

In [6]:
print(data.describe())

               Open          High           Low         Close  Volume  \
count   1497.000000   1497.000000   1497.000000   1497.000000  1497.0
mean   22650.112538  22653.125207  22646.665709  22649.938208     0.0
std       82.610062     82.725652     82.540261     82.653328     0.0
min    22477.449219  22483.599609  22473.050781  22476.699219     0.0
25%    22621.650391  22623.599609  22618.000000  22621.750000     0.0
50%    22669.949219  22672.550781  22667.449219  22669.650391     0.0
75%    22707.949219  22712.050781  22704.699219  22707.800781     0.0
max    22772.699219  22775.699219  22767.050781  22772.699219     0.0

       Dividends  Stock Splits
count     1497.0        1497.0
mean         0.0           0.0
std          0.0           0.0
min          0.0           0.0
25%          0.0           0.0
50%          0.0           0.0
75%          0.0           0.0
max          0.0           0.0

In [7]:
data.drop_duplicates()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-04-05 10:42:00+05:30,22494.949219,22495.949219,22490.099609,22494.800781,0,0.0,0.0
1,2024-04-05 10:43:00+05:30,22494.800781,22495.400391,22491.849609,22492.550781,0,0.0,0.0
2,2024-04-05 10:44:00+05:30,22491.449219,22492.150391,22487.599609,22489.849609,0,0.0,0.0
3,2024-04-05 10:45:00+05:30,22493.300781,22496.800781,22493.250000,22494.099609,0,0.0,0.0
4,2024-04-05 10:46:00+05:30,22494.199219,22495.500000,22488.699219,22489.849609,0,0.0,0.0
...,...,...,...,...,...,...,...,...
1492,2024-04-12 10:36:00+05:30,22656.900391,22657.650391,22653.050781,22657.199219,0,0.0,0.0
1493,2024-04-12 10:37:00+05:30,22657.199219,22661.849609,22657.050781,22661.000000,0,0.0,0.0
1494,2024-04-12 10:38:00+05:30,22661.199219,22664.500000,22659.849609,22663.800781,0,0.0,0.0
1495,2024-04-12 10:39:00+05:30,22664.050781,22665.000000,22657.199219,22658.900391,0,0.0,0.0
1496,2024-04-12 10:40:00+05:30,22659.599609,22661.199219,22653.050781,22657.800781,0,0.0,0.0

In [8]:
data.isnull().sum()

Datetime        0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [9]:
data.drop(['Datetime','Volume','Dividends','Stock Splits'],axis=1,inplace=True)
data.head(10)

           Open          High           Low         Close
0  22494.949219  22495.949219  22490.099609  22494.800781
1  22494.800781  22495.400391  22491.849609  22492.550781
2  22491.449219  22492.150391  22487.599609  22489.849609
3  22493.300781  22496.800781  22493.250000  22494.099609
4  22494.199219  22495.500000  22488.699219  22489.849609
5  22489.900391  22491.349609  22488.250000  22490.900391
6  22490.900391  22493.349609  22487.900391  22489.349609
7  22489.050781  22491.500000  22486.800781  22489.849609
8  22490.349609  22495.199219  22489.400391  22494.000000
9  22495.849609  22502.050781  22495.150391  22500.949219

In [10]:
data['shift_close'] = data['Close'].shift(-1)
data.dropna(inplace=True)

In [11]:
data

              Open          High           Low         Close   shift_close
0     22494.949219  22495.949219  22490.099609  22494.800781  22492.550781
1     22494.800781  22495.400391  22491.849609  22492.550781  22489.849609
2     22491.449219  22492.150391  22487.599609  22489.849609  22494.099609
3     22493.300781  22496.800781  22493.250000  22494.099609  22489.849609
4     22494.199219  22495.500000  22488.699219  22489.849609  22490.900391
...            ...           ...           ...           ...           ...
1491  22653.599609  22656.900391  22649.699219  22656.900391  22657.199219
1492  22656.900391  22657.650391  22653.050781  22657.199219  22661.000000
1493  22657.199219  22661.849609  22657.050781  22661.000000  22663.800781
1494  22661.199219  22664.500000  22659.849609  22663.800781  22658.900391
1495  22664.050781  22665.000000  22657.199219  22658.900391  22657.800781

[1496 rows x 5 columns]

In [12]:
data.tail()

              Open          High           Low         Close   shift_close
1491  22653.599609  22656.900391  22649.699219  22656.900391  22657.199219
1492  22656.900391  22657.650391  22653.050781  22657.199219  22661.000000
1493  22657.199219  22661.849609  22657.050781  22661.000000  22663.800781
1494  22661.199219  22664.500000  22659.849609  22663.800781  22658.900391
1495  22664.050781  22665.000000  22657.199219  22658.900391  22657.800781

In [13]:
X=data.drop('shift_close',axis=1)
y = data['shift_close']

In [14]:
xy=pd.concat([X,y],axis=1)
xy.tail()

              Open          High           Low         Close   shift_close
1491  22653.599609  22656.900391  22649.699219  22656.900391  22657.199219
1492  22656.900391  22657.650391  22653.050781  22657.199219  22661.000000
1493  22657.199219  22661.849609  22657.050781  22661.000000  22663.800781
1494  22661.199219  22664.500000  22659.849609  22663.800781  22658.900391
1495  22664.050781  22665.000000  22657.199219  22658.900391  22657.800781

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:

my_model = XGBRegressor()
my_model.fit(X_train, y_train)

predictions = my_model.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

print("R2 Score" + str(r2_score(y_test,predictions)))


print("Accuracy Score : "+str(my_model.score(X_test,y_test)))

predictions

Mean Absolute Error: 4.308274739583333
R2 Score0.9939821798338968
Accuracy Score : 0.9939821798338968

array([22699.262, 22617.201, 22742.09 , 22495.045, 22739.63 , 22717.117,
       22669.984, 22645.635, 22695.834, 22606.863, 22699.89 , 22499.836,
       22713.568, 22718.102, 22742.682, 22671.154, 22668.102, 22655.162,
       22733.6  , 22664.594, 22665.098, 22676.912, 22707.256, 22742.654,
       22520.535, 22698.754, 22642.527, 22513.098, 22645.908, 22641.258,
       22517.74 , 22604.412, 22635.61 , 22716.139, 22717.605, 22701.129,
       22483.014, 22493.814, 22551.98 , 22596.086, 22718.422, 22677.236,
       22717.72 , 22495.232, 22497.37 , 22629.023, 22643.096, 22751.256,
       22745.148, 22706.709, 22493.195, 22745.861, 22655.525, 22675.012,
       22729.133, 22744.201, 22495.785, 22504.05 , 22711.645, 22504.348,
       22493.5  , 22505.133, 22627.645, 22744.285, 22626.432, 22713.229,
       22675.193, 22645.441, 22615.691, 22505.197, 22708.982, 22652.19 ,
       22731.146, 22659.934, 22749.424, 22679.195, 22752.242, 22713.568,
       22700.174, 22698.748, 22652.113, 22686.746, 22711.002, 22681.428,
       22693.51 , 22741.52 , 22715.238, 22641.994, 22713.229, 22505.082,
       22683.234, 22722.918, 22650.244, 22650.244, 22646.79 , 22727.146,
       22654.627, 22499.857, 22612.234, 22744.771, 22685.766, 22633.498,
       22490.012, 22736.049, 22502.963, 22642.365, 22653.8  , 22513.098,
       22633.436, 22698.592, 22691.574, 22492.312, 22670.59 , 22617.758,
       22751.066, 22705.465, 22635.932, 22655.607, 22609.967, 22739.287,
       22687.438, 22495.826, 22647.03 , 22731.605, 22483.014, 22504.164,
       22663.648, 22497.281, 22705.941, 22689.846, 22736.52 , 22653.182,
       22503.168, 22717.195, 22697.797, 22681.475, 22704.27 , 22697.746,
       22655.814, 22694.451, 22492.924, 22692.916, 22684.922, 22495.842,
       22645.207, 22736.893, 22692.37 , 22708.707, 22615.986, 22710.557,
       22746.96 , 22703.654, 22492.184, 22583.693, 22675.03 , 22764.037,
       22623.688, 22596.086, 22746.523, 22502.91 , 22743.209, 22732.871,
       22658.361, 22656.805, 22640.86 , 22716.691, 22483.014, 22507.645,
       22615.965, 22650.756, 22741.867, 22683.332, 22701.516, 22492.652,
       22711.953, 22497.465, 22506.861, 22504.6  , 22743.38 , 22496.002,
       22688.043, 22685.51 , 22699.686, 22617.352, 22654.848, 22716.854,
       22702.523, 22492.184, 22670.   , 22750.553, 22700.629, 22500.398,
       22748.031, 22502.314, 22626.592, 22492.799, 22501.98 , 22503.06 ,
       22634.932, 22629.574, 22614.742, 22642.22 , 22493.195, 22648.508,
       22723.766, 22662.197, 22702.564, 22606.451, 22694.531, 22639.01 ,
       22497.598, 22608.934, 22747.512, 22702.37 , 22652.9  , 22683.564,
       22652.588, 22503.531, 22731.568, 22653.994, 22635.477, 22638.793,
       22666.807, 22586.193, 22700.559, 22506.951, 22513.098, 22626.072,
       22491.117, 22608.496, 22655.492, 22503.305, 22659.092, 22742.635,
       22733.127, 22658.988, 22638.8  , 22706.244, 22649.654, 22506.45 ,
       22748.422, 22700.223, 22701.084, 22504.744, 22654.107, 22646.215,
       22696.945, 22717.748, 22735.006, 22705.025, 22704.104, 22686.861,
       22750.314, 22586.193, 22495.787, 22645.07 , 22646.62 , 22660.055,
       22586.193, 22672.78 , 22653.195, 22651.639, 22666.807, 22718.39 ,
       22614.469, 22726.762, 22671.62 , 22673.332, 22655.162, 22677.113,
       22701.63 , 22496.672, 22671.445, 22766.19 , 22718.35 , 22766.19 ,
       22677.686, 22705.242, 22711.693, 22720.531, 22655.586, 22699.98 ,
       22682.334, 22669.502, 22652.703, 22487.271, 22672.26 , 22669.502,
       22507.38 , 22645.283, 22746.016, 22688.3  , 22728.873, 22671.62 ,
       22699.525, 22715.752, 22482.105, 22695.092, 22655.309, 22501.07 ],
      dtype=float32)

In [17]:
RandomeForestModel = RandomForestRegressor()
RandomeForestModel.fit(X_train, y_train)


predictions = RandomeForestModel.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

print("R2 Score" + str(r2_score(y_test,predictions)))


print("Accuracy Score : "+str(RandomeForestModel.score(X_test,y_test)))

predictions

Mean Absolute Error: 4.07808632812504
R2 Score0.9950569848155277
Accuracy Score : 0.9950569848155277

array([22701.87748047, 22617.035     , 22741.60789063, 22495.91181641,
       22741.82783203, 22718.68173828, 22670.92919922, 22647.34408203,
       22696.62529297, 22604.8509375 , 22702.24751953, 22498.22246094,
       22710.82205078, 22717.28714844, 22743.28957031, 22672.139375  ,
       22669.24835938, 22655.38869141, 22735.57474609, 22667.45376953,
       22662.25978516, 22675.57644531, 22710.42138672, 22739.94203125,
       22518.03796875, 22699.82466797, 22645.49251953, 22513.18355469,
       22643.23396484, 22642.05417969, 22518.55808594, 22604.60732422,
       22638.51509766, 22717.893125  , 22718.24482422, 22703.05351563,
       22484.13078125, 22494.03466797, 22529.21050781, 22606.22328125,
       22716.81785156, 22676.86050781, 22720.96089844, 22496.13699219,
       22496.21628906, 22626.11421875, 22645.13332031, 22750.69125   ,
       22745.53068359, 22710.19490234, 22494.12482422, 22746.04236328,
       22656.02138672, 22679.05142578, 22729.51623047, 22743.15886719,
       22497.30623047, 22501.38773437, 22710.94814453, 22506.08457031,
       22494.39634766, 22505.39515625, 22628.29107422, 22744.36947266,
       22627.80058594, 22709.75880859, 22666.18615234, 22644.89744141,
       22615.58236328, 22505.33558594, 22706.36796875, 22652.38732422,
       22724.82867187, 22659.17060547, 22750.05410156, 22681.37851563,
       22751.26900391, 22716.18480469, 22699.95669922, 22694.83728516,
       22652.44277344, 22685.93673828, 22708.86207031, 22686.48005859,
       22692.6896875 , 22740.43322266, 22715.63910156, 22642.90802734,
       22710.38712891, 22506.05755859, 22684.89496094, 22719.58736328,
       22650.96648437, 22650.65289062, 22646.25591797, 22729.02511719,
       22656.21353516, 22498.94808594, 22611.92964844, 22742.10533203,
       22686.33013672, 22633.14443359, 22492.11009766, 22736.35806641,
       22501.46609375, 22644.26085938, 22656.4453125 , 22512.82140625,
       22633.34664063, 22695.70511719, 22689.51605469, 22492.06945313,
       22671.37828125, 22620.16443359, 22751.02970703, 22705.24099609,
       22634.08712891, 22654.6503125 , 22608.63273438, 22739.91501953,
       22685.96410156, 22496.58429688, 22653.31257812, 22729.89974609,
       22484.3815625 , 22504.3871875 , 22663.27708984, 22497.87818359,
       22725.02583984, 22689.93828125, 22736.50810547, 22654.81746094,
       22504.37943359, 22716.24591797, 22700.10746094, 22678.31433594,
       22704.21505859, 22698.22001953, 22655.86058594, 22694.56457031,
       22490.08570313, 22693.71324219, 22685.84009766, 22494.56201172,
       22646.03628906, 22736.41048828, 22692.57201172, 22708.42787109,
       22615.86025391, 22711.21332031, 22747.53802734, 22702.57992187,
       22494.53546875, 22583.81632813, 22674.17384766, 22764.17962891,
       22622.95142578, 22601.16894531, 22747.28005859, 22501.68341797,
       22740.91671875, 22734.61990234, 22663.27753906, 22658.02666016,
       22642.1159375 , 22717.17511719, 22484.20720703, 22506.25962891,
       22615.57738281, 22650.07892578, 22739.79833984, 22684.27548828,
       22702.38314453, 22492.92216797, 22712.25734375, 22499.8325    ,
       22506.60611328, 22504.92615234, 22742.96814453, 22494.44554687,
       22688.98628906, 22685.13001953, 22699.75345703, 22618.07142578,
       22651.56554688, 22718.67810547, 22701.4715625 , 22492.70607422,
       22669.35267578, 22752.45955078, 22700.20052734, 22499.21824219,
       22750.77951172, 22501.73957031, 22633.45763672, 22491.69351563,
       22501.12523437, 22503.26537109, 22633.74964844, 22630.46716797,
       22614.94097656, 22643.44851563, 22493.25033203, 22655.17910156,
       22716.86433594, 22665.63576172, 22702.8959375 , 22604.91970703,
       22695.00056641, 22637.02619141, 22493.78839844, 22610.04775391,
       22746.26785156, 22702.12365234, 22651.75880859, 22685.02060547,
       22651.42125   , 22499.89990234, 22732.97148438, 22657.60990234,
       22636.81980469, 22643.92685547, 22669.02871094, 22587.00154297,
       22702.08748047, 22506.928125  , 22512.32085937, 22624.69210937,
       22490.26691406, 22609.07279297, 22654.45158203, 22501.74728516,
       22658.67232422, 22744.56267578, 22732.19208984, 22658.45777344,
       22638.06353516, 22707.71378906, 22653.69158203, 22507.27806641,
       22748.08808594, 22701.08001953, 22700.07445312, 22505.23394531,
       22653.35458984, 22645.35484375, 22696.57214844, 22716.06246094,
       22736.32373047, 22704.05482422, 22703.50962891, 22683.68941406,
       22751.69433594, 22586.58855469, 22496.47554688, 22646.73554687,
       22647.93658203, 22665.04464844, 22600.21904297, 22671.10837891,
       22653.75744141, 22648.26033203, 22669.54539063, 22718.90441406,
       22613.87826172, 22725.69152344, 22671.88220703, 22673.19224609,
       22655.55859375, 22680.9503125 , 22707.27074219, 22495.86947266,
       22672.38744141, 22762.89050781, 22717.20607422, 22768.634375  ,
       22679.89015625, 22703.78867188, 22710.83013672, 22717.28417969,
       22656.66      , 22702.35943359, 22684.40140625, 22668.99419922,
       22651.58052734, 22485.70302734, 22672.08761719, 22669.59132812,
       22507.94816406, 22650.21628906, 22746.57242188, 22688.73181641,
       22728.98017578, 22671.85113281, 22698.7315625 , 22716.87376953,
       22484.30712891, 22694.80595703, 22652.71515625, 22496.82376953])

In [18]:
DesitionTreeModel = DecisionTreeRegressor()
DesitionTreeModel.fit(X_train, y_train)


predictions = DesitionTreeModel.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

print("R2 Score" + str(r2_score(y_test,predictions)))


print("Accuracy Score : "+str(DesitionTreeModel.score(X_test,y_test)))

predictions

Mean Absolute Error: 5.011295572916667
R2 Score0.9933393078847328
Accuracy Score : 0.9933393078847328

array([22701.84960938, 22623.75      , 22740.55078125, 22494.55078125,
       22746.94921875, 22717.19921875, 22670.19921875, 22649.69921875,
       22701.44921875, 22603.65039062, 22704.90039062, 22501.25      ,
       22704.30078125, 22715.94921875, 22742.25      , 22670.19921875,
       22673.40039062, 22655.90039062, 22739.05078125, 22667.34960938,
       22662.59960938, 22669.84960938, 22709.80078125, 22732.84960938,
       22515.44921875, 22702.25      , 22635.69921875, 22513.94921875,
       22644.15039062, 22641.84960938, 22520.05078125, 22606.80078125,
       22634.25      , 22719.44921875, 22713.30078125, 22701.5       ,
       22481.25      , 22496.40039062, 22524.80078125, 22603.65039062,
       22711.5       , 22676.94921875, 22718.5       , 22493.19921875,
       22496.55078125, 22624.90039062, 22643.75      , 22750.80078125,
       22744.44921875, 22713.90039062, 22496.94921875, 22748.19921875,
       22651.75      , 22683.30078125, 22727.5       , 22746.15039062,
       22496.05078125, 22496.09960938, 22711.40039062, 22506.94921875,
       22496.94921875, 22506.94921875, 22624.09960938, 22746.94921875,
       22626.40039062, 22713.90039062, 22665.69921875, 22648.59960938,
       22616.65039062, 22504.90039062, 22701.90039062, 22658.59960938,
       22729.09960938, 22660.65039062, 22748.19921875, 22669.84960938,
       22747.84960938, 22718.84960938, 22698.84960938, 22694.75      ,
       22651.84960938, 22688.65039062, 22709.30078125, 22692.34960938,
       22697.80078125, 22740.55078125, 22717.80078125, 22640.        ,
       22713.90039062, 22504.84960938, 22686.25      , 22715.94921875,
       22650.69921875, 22654.84960938, 22641.69921875, 22728.80078125,
       22660.55078125, 22499.44921875, 22610.30078125, 22743.44921875,
       22686.90039062, 22631.25      , 22488.44921875, 22739.05078125,
       22508.        , 22647.40039062, 22652.59960938, 22513.94921875,
       22633.5       , 22691.19921875, 22706.59960938, 22491.65039062,
       22669.55078125, 22623.75      , 22747.44921875, 22705.25      ,
       22636.15039062, 22657.75      , 22605.34960938, 22743.44921875,
       22686.90039062, 22495.59960938, 22651.34960938, 22727.90039062,
       22483.44921875, 22504.65039062, 22663.25      , 22495.75      ,
       22722.55078125, 22688.05078125, 22737.30078125, 22651.75      ,
       22496.55078125, 22712.65039062, 22691.59960938, 22668.75      ,
       22704.94921875, 22695.90039062, 22657.19921875, 22695.        ,
       22488.84960938, 22692.30078125, 22683.55078125, 22496.19921875,
       22648.5       , 22737.30078125, 22692.09960938, 22712.19921875,
       22613.34960938, 22712.65039062, 22748.19921875, 22706.40039062,
       22495.75      , 22586.94921875, 22669.84960938, 22766.65039062,
       22624.        , 22603.65039062, 22749.55078125, 22500.34960938,
       22737.05078125, 22731.90039062, 22658.25      , 22657.80078125,
       22634.55078125, 22717.80078125, 22483.44921875, 22506.94921875,
       22616.65039062, 22640.84960938, 22738.05078125, 22686.65039062,
       22702.09960938, 22490.40039062, 22708.80078125, 22501.25      ,
       22507.80078125, 22500.40039062, 22743.05078125, 22495.75      ,
       22677.94921875, 22686.55078125, 22700.90039062, 22623.75      ,
       22650.69921875, 22720.        , 22701.        , 22492.        ,
       22668.25      , 22753.84960938, 22702.25      , 22496.09960938,
       22753.69921875, 22504.55078125, 22636.15039062, 22494.15039062,
       22504.44921875, 22501.05078125, 22636.15039062, 22633.15039062,
       22615.40039062, 22640.94921875, 22495.69921875, 22647.80078125,
       22713.30078125, 22663.34960938, 22707.75      , 22591.65039062,
       22696.05078125, 22639.40039062, 22491.5       , 22607.84960938,
       22742.75      , 22698.5       , 22658.59960938, 22683.84960938,
       22651.15039062, 22496.09960938, 22731.44921875, 22660.55078125,
       22639.55078125, 22643.30078125, 22669.84960938, 22581.94921875,
       22702.19921875, 22508.44921875, 22515.34960938, 22621.40039062,
       22488.84960938, 22612.5       , 22660.25      , 22501.25      ,
       22656.69921875, 22746.94921875, 22729.90039062, 22656.69921875,
       22639.90039062, 22701.34960938, 22650.75      , 22504.84960938,
       22748.19921875, 22701.90039062, 22700.94921875, 22506.5       ,
       22654.84960938, 22643.40039062, 22695.09960938, 22715.94921875,
       22737.30078125, 22705.5       , 22706.80078125, 22706.59960938,
       22755.        , 22586.65039062, 22499.30078125, 22645.65039062,
       22648.05078125, 22669.59960938, 22603.65039062, 22667.5       ,
       22659.05078125, 22647.25      , 22659.90039062, 22715.25      ,
       22614.15039062, 22717.65039062, 22669.40039062, 22673.40039062,
       22657.19921875, 22688.80078125, 22701.34960938, 22496.40039062,
       22673.40039062, 22757.34960938, 22719.44921875, 22768.94921875,
       22688.80078125, 22700.80078125, 22710.69921875, 22717.80078125,
       22652.59960938, 22701.75      , 22677.25      , 22669.09960938,
       22649.15039062, 22485.80078125, 22673.80078125, 22669.09960938,
       22508.44921875, 22643.94921875, 22742.75      , 22686.55078125,
       22727.5       , 22669.40039062, 22700.19921875, 22711.5       ,
       22482.69921875, 22694.55078125, 22651.15039062, 22491.5       ])

In [19]:

import pickle
pickle.dump(my_model,open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/XGBoost.pkl','wb'))
pickle.dump(RandomeForestModel,open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/RandomForestRegressor.pkl','wb'))
pickle.dump(DesitionTreeModel,open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/DesicionTreeModel.pkl','wb'))

# pickle.dump(my_model,open('/content/drive/MyDrive/AI COLLAGE/5m_Nifty_RandomForestRegressor.pkl','wb'))


import yfinance as yf
import datetime as dt
import pickle
from sklearn.metrics import mean_absolute_error,r2_score,accuracy


# Load the model from the pickle file
with open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/RandomForestRegressor.pkl', 'rb') as f:
    Rand = pickle.load(f)


with open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/DesicionTreeModel.pkl', 'rb') as f:
    Decision = pickle.load(f)


with open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/XGBoost.pkl', 'rb') as f:
    XgBoostModel = pickle.load(f)

while True:
    ticker = yf.Ticker('^NSEI')
    start=dt.datetime.now().strftime('%Y-%m-%d')
    end=(dt.datetime.now() + dt.timedelta(days=1)).strftime('%Y-%m-%d')

    data = ticker.history(interval='5m',start=start,end=end)
    data.reset_index(inplace=True)
    # print(data)
    data.columns = data.columns.str.strip()  # Remove extra spaces from column names

    data.drop(['Datetime', 'Volume', 'Dividends', 'Stock Splits'], inplace=True, axis=1)
    y = data['Close'].copy()
    data.drop(['Close'], inplace=True, axis=1)

    print("Random Forest Regressor")
    print("---------------------------\n")
    Rand_predic=Rand.predict(data)
    last_pred=Rand_predic[-1]
    print(f'Last Prediction ----------> :{ last_pred}')
    print(f'mae : {mean_absolute_error(y,Rand_predic)}')
    # print(f"Rand Accuracy Score :{}")
    print(f'r2 : {r2_score(y,Rand_predic)}')
    print("---------------------------")
    print("\n\n\n")

    print("Desicion Tree Regressor")
    print("---------------------------\n")
    DecisionPred=Decision.predict(data)
    last_pred=DecisionPred[-1]
    mae=mean_absolute_error(y,DecisionPred)
    # last_pred=last_pred+mae
    print(f'Last Prediction ----------> :{ last_pred}')
    print(f'mae : {mae}')
    print(f'r2 : {r2_score(y,DecisionPred)}')
    print("---------------------------")
    print("\n\n\n")

    print("XgBoostModel ")
    print("---------------------------\n")
    XgBoostPred=XgBoostModel.predict(data)
    last_pred=XgBoostPred[-1]
    print(f'Last Prediction ----------> :{ last_pred}')
    print(f'mae : {mean_absolute_error(y,XgBoostPred)}')
    print(f'r2 : {r2_score(y,XgBoostPred)}')
    print("---------------------------")
    print("\n\n\n")
    # data