In [1]:
import pandas as pd
import numpy
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score
import yfinance as yf

#Used Models
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [2]:
symbol='INFY.NS'
ticker = yf.Ticker(symbol)
data=ticker.history(period='max',interval='1m')
data.reset_index(inplace=True)

In [3]:
data.head()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-04-04 09:15:00+05:30,1491.449951,1491.449951,1487.500000,1487.500000,0,0.0,0.0
1,2024-04-04 09:16:00+05:30,1488.449951,1489.800049,1488.150024,1488.400024,83875,0.0,0.0
2,2024-04-04 09:17:00+05:30,1488.449951,1488.699951,1486.000000,1487.949951,68944,0.0,0.0
3,2024-04-04 09:18:00+05:30,1487.900024,1487.949951,1485.849976,1486.150024,51406,0.0,0.0
4,2024-04-04 09:19:00+05:30,1486.150024,1486.599976,1485.199951,1486.000000,20556,0.0,0.0

In [4]:
data.tail()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
1868,2024-04-10 15:25:00+05:30,1506.599976,1506.800049,1505.250000,1505.750000,28855,0.0,0.0
1869,2024-04-10 15:26:00+05:30,1505.750000,1505.750000,1505.500000,1505.750000,37680,0.0,0.0
1870,2024-04-10 15:27:00+05:30,1505.750000,1506.800049,1505.650024,1506.800049,35871,0.0,0.0
1871,2024-04-10 15:28:00+05:30,1506.500000,1507.000000,1506.000000,1506.699951,22478,0.0,0.0
1872,2024-04-10 15:29:00+05:30,1506.800049,1506.800049,1506.000000,1506.800049,6742466,0.0,0.0

In [5]:
# data = pd.read_csv('/content/Nifty50_shortTerm_5m_New.csv')

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1873 entries, 0 to 1872
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      1873 non-null   datetime64[ns, Asia/Kolkata]
 1   Open          1873 non-null   float64
 2   High          1873 non-null   float64
 3   Low           1873 non-null   float64
 4   Close         1873 non-null   float64
 5   Volume        1873 non-null   int64
 6   Dividends     1873 non-null   float64
 7   Stock Splits  1873 non-null   float64
dtypes: datetime64[ns, Asia/Kolkata](1), float64(6), int64(1)
memory usage: 117.2 KB
None

In [6]:
print(data.describe())

              Open         High          Low        Close        Volume  \
count  1873.000000  1873.000000  1873.000000  1873.000000  1.873000e+03
mean   1489.167698  1489.641429  1488.617246  1489.160142  2.417724e+04
std      10.791055    10.803558    10.774792    10.800830  1.571996e+05
min    1469.050049  1469.800049  1468.099976  1468.800049  0.000000e+00
25%    1480.000000  1480.349976  1479.599976  1480.000000  6.702000e+03
50%    1485.000000  1485.699951  1484.300049  1484.800049  1.281400e+04
75%    1498.050049  1498.550049  1497.550049  1498.050049  2.541100e+04
max    1513.699951  1513.800049  1512.650024  1513.750000  6.742466e+06

       Dividends  Stock Splits
count     1873.0        1873.0
mean         0.0           0.0
std          0.0           0.0
min          0.0           0.0
25%          0.0           0.0
50%          0.0           0.0
75%          0.0           0.0
max          0.0           0.0

In [7]:
data.drop_duplicates()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-04-04 09:15:00+05:30,1491.449951,1491.449951,1487.500000,1487.500000,0,0.0,0.0
1,2024-04-04 09:16:00+05:30,1488.449951,1489.800049,1488.150024,1488.400024,83875,0.0,0.0
2,2024-04-04 09:17:00+05:30,1488.449951,1488.699951,1486.000000,1487.949951,68944,0.0,0.0
3,2024-04-04 09:18:00+05:30,1487.900024,1487.949951,1485.849976,1486.150024,51406,0.0,0.0
4,2024-04-04 09:19:00+05:30,1486.150024,1486.599976,1485.199951,1486.000000,20556,0.0,0.0
...,...,...,...,...,...,...,...,...
1868,2024-04-10 15:25:00+05:30,1506.599976,1506.800049,1505.250000,1505.750000,28855,0.0,0.0
1869,2024-04-10 15:26:00+05:30,1505.750000,1505.750000,1505.500000,1505.750000,37680,0.0,0.0
1870,2024-04-10 15:27:00+05:30,1505.750000,1506.800049,1505.650024,1506.800049,35871,0.0,0.0
1871,2024-04-10 15:28:00+05:30,1506.500000,1507.000000,1506.000000,1506.699951,22478,0.0,0.0
1872,2024-04-10 15:29:00+05:30,1506.800049,1506.800049,1506.000000,1506.800049,6742466,0.0,0.0

In [8]:
data.isnull().sum()

Datetime        0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [9]:
data.drop(['Datetime','Volume','Dividends','Stock Splits'],axis=1,inplace=True)
data.head(10)

          Open         High          Low        Close
0  1491.449951  1491.449951  1487.500000  1487.500000
1  1488.449951  1489.800049  1488.150024  1488.400024
2  1488.449951  1488.699951  1486.000000  1487.949951
3  1487.900024  1487.949951  1485.849976  1486.150024
4  1486.150024  1486.599976  1485.199951  1486.000000
5  1486.349976  1486.750000  1485.250000  1485.699951
6  1485.050049  1487.000000  1483.750000  1485.550049
7  1485.750000  1487.699951  1485.099976  1487.699951
8  1487.250000  1488.000000  1485.250000  1486.599976
9  1486.500000  1487.000000  1485.800049  1486.699951

In [10]:
data['shift_close'] = data['Close'].shift(-1)
data.dropna(inplace=True)

In [11]:
data

             Open         High          Low        Close  shift_close
0     1491.449951  1491.449951  1487.500000  1487.500000  1488.400024
1     1488.449951  1489.800049  1488.150024  1488.400024  1487.949951
2     1488.449951  1488.699951  1486.000000  1487.949951  1486.150024
3     1487.900024  1487.949951  1485.849976  1486.150024  1486.000000
4     1486.150024  1486.599976  1485.199951  1486.000000  1485.699951
...           ...          ...          ...          ...          ...
1867  1506.900024  1507.000000  1506.800049  1506.900024  1505.750000
1868  1506.599976  1506.800049  1505.250000  1505.750000  1505.750000
1869  1505.750000  1505.750000  1505.500000  1505.750000  1506.800049
1870  1505.750000  1506.800049  1505.650024  1506.800049  1506.699951
1871  1506.500000  1507.000000  1506.000000  1506.699951  1506.800049

[1872 rows x 5 columns]

In [12]:
data.tail()

             Open         High          Low        Close  shift_close
1867  1506.900024  1507.000000  1506.800049  1506.900024  1505.750000
1868  1506.599976  1506.800049  1505.250000  1505.750000  1505.750000
1869  1505.750000  1505.750000  1505.500000  1505.750000  1506.800049
1870  1505.750000  1506.800049  1505.650024  1506.800049  1506.699951
1871  1506.500000  1507.000000  1506.000000  1506.699951  1506.800049

In [13]:
X=data.drop('shift_close',axis=1)
y = data['shift_close']

In [14]:
xy=pd.concat([X,y],axis=1)
xy.tail()

             Open         High          Low        Close  shift_close
1867  1506.900024  1507.000000  1506.800049  1506.900024  1505.750000
1868  1506.599976  1506.800049  1505.250000  1505.750000  1505.750000
1869  1505.750000  1505.750000  1505.500000  1505.750000  1506.800049
1870  1505.750000  1506.800049  1505.650024  1506.800049  1506.699951
1871  1506.500000  1507.000000  1506.000000  1506.699951  1506.800049

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:

my_model = XGBRegressor()
my_model.fit(X_train, y_train)

predictions = my_model.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

print("R2 Score" + str(r2_score(y_test,predictions)))


print("Accuracy Score : "+str(my_model.score(X_test,y_test)))

predictions

Mean Absolute Error: 0.7271917317708333
R2 Score0.9880071352240202
Accuracy Score : 0.9880071352240202

array([1492.3657, 1486.5095, 1507.8163, 1476.036 , 1504.1599, 1493.9849,
       1497.0397, 1482.7017, 1497.3978, 1475.1456, 1506.801 , 1505.1699,
       1507.2179, 1488.3042, 1480.1595, 1505.494 , 1500.0275, 1497.922 ,
       1506.9364, 1479.9125, 1482.4302, 1478.7008, 1494.2675, 1498.8851,
       1496.2119, 1479.1392, 1483.0775, 1490.996 , 1504.191 , 1485.5616,
       1499.4615, 1496.7422, 1476.578 , 1485.5916, 1482.0444, 1477.5354,
       1504.1699, 1480.3053, 1476.8593, 1481.8851, 1506.3983, 1477.7496,
       1478.4852, 1482.01  , 1510.5718, 1481.7783, 1480.4686, 1486.6023,
       1481.8811, 1479.5122, 1505.0208, 1506.4884, 1478.7332, 1499.6932,
       1477.9762, 1498.6759, 1482.4991, 1478.0516, 1475.3164, 1478.9054,
       1508.4626, 1477.484 , 1482.9778, 1483.193 , 1479.2893, 1481.7106,
       1484.0054, 1482.7764, 1491.7532, 1499.0312, 1474.9915, 1475.4843,
       1482.868 , 1489.0804, 1507.6022, 1481.3357, 1505.1047, 1496.5411,
       1479.0182, 1481.7147, 1488.4292, 1478.3976, 1479.5964, 1481.8423,
       1477.7832, 1476.7969, 1478.1638, 1473.685 , 1491.1818, 1482.2456,
       1482.868 , 1496.6603, 1488.0669, 1512.0343, 1486.4812, 1479.2184,
       1504.2976, 1478.7504, 1480.7997, 1481.6068, 1496.9823, 1507.0884,
       1497.8583, 1491.6631, 1478.7014, 1507.8932, 1478.28  , 1483.4099,
       1481.4077, 1479.0665, 1482.5878, 1476.5836, 1481.4731, 1510.637 ,
       1498.997 , 1481.5884, 1478.551 , 1482.6332, 1478.195 , 1481.9127,
       1497.4768, 1504.7838, 1478.8232, 1483.8573, 1505.1368, 1475.4412,
       1480.3018, 1477.325 , 1497.9963, 1485.1625, 1475.9277, 1498.3063,
       1504.7681, 1491.0824, 1506.296 , 1480.0033, 1477.842 , 1482.8154,
       1506.3539, 1484.5753, 1489.1841, 1479.8745, 1481.5703, 1506.317 ,
       1479.1115, 1491.8121, 1478.9664, 1507.5088, 1505.2095, 1480.055 ,
       1495.2527, 1484.2639, 1479.3878, 1503.4065, 1484.3822, 1481.8088,
       1507.1239, 1507.4971, 1488.3608, 1493.9148, 1498.3536, 1481.4077,
       1478.8182, 1485.8192, 1482.7773, 1482.0461, 1480.3241, 1478.84  ,
       1481.8423, 1482.0002, 1478.9098, 1489.4047, 1480.8845, 1496.8267,
       1490.4569, 1498.3279, 1498.324 , 1509.2355, 1485.386 , 1479.0793,
       1481.6165, 1481.0829, 1480.9294, 1481.7676, 1476.5858, 1510.7557,
       1482.59  , 1479.9576, 1492.6637, 1482.7449, 1500.0681, 1476.579 ,
       1483.9836, 1498.9169, 1478.0679, 1500.9397, 1474.6104, 1506.619 ,
       1477.5962, 1506.9293, 1479.5508, 1484.4164, 1495.4598, 1478.7625,
       1480.2502, 1506.7161, 1483.7758, 1486.2462, 1478.444 , 1479.4856,
       1482.0063, 1476.0547, 1487.5599, 1498.1599, 1494.282 , 1478.048 ,
       1491.9868, 1498.502 , 1497.1057, 1499.3564, 1474.8019, 1483.3191,
       1493.9644, 1478.5382, 1504.6844, 1482.006 , 1496.7065, 1482.5801,
       1482.6937, 1485.431 , 1499.1057, 1485.7183, 1471.2878, 1506.2826,
       1505.7618, 1504.191 , 1500.9397, 1485.5023, 1487.9539, 1478.8877,
       1498.6766, 1479.7506, 1510.6766, 1507.0323, 1497.0137, 1504.8856,
       1496.3223, 1474.899 , 1478.105 , 1499.1208, 1479.5603, 1487.8379,
       1509.2893, 1481.7783, 1480.2126, 1476.833 , 1481.1913, 1504.4965,
       1503.1251, 1490.0897, 1478.9637, 1481.3965, 1494.4021, 1482.1488,
       1498.69  , 1474.4078, 1491.2706, 1481.9589, 1482.3987, 1508.2053,
       1480.1959, 1488.674 , 1503.8964, 1475.4022, 1480.5613, 1482.1396,
       1500.0143, 1507.0054, 1475.3534, 1506.4369, 1497.0427, 1512.0343,
       1510.5182, 1504.9789, 1478.8032, 1480.5216, 1476.7338, 1479.6752,
       1496.2269, 1475.6187, 1505.2167, 1478.153 , 1480.7007, 1498.3013,
       1480.654 , 1480.2955, 1508.8933, 1476.2388, 1497.9017, 1504.5812,
       1508.339 , 1498.2664, 1480.1678, 1481.6692, 1503.0941, 1479.002 ,
       1504.8857, 1485.7213, 1505.8673, 1508.218 , 1479.5198, 1496.8273,
       1496.0981, 1476.7413, 1483.4307, 1496.4684, 1483.0621, 1499.1952,
       1480.097 , 1482.2673, 1487.9197, 1505.3647, 1487.3274, 1490.0791,
       1481.7253, 1479.4939, 1481.7495, 1481.9093, 1481.7373, 1504.0981,
       1488.035 , 1484.2936, 1482.6195, 1496.949 , 1480.7678, 1491.1432,
       1485.8422, 1481.886 , 1481.2623, 1484.821 , 1477.0554, 1508.314 ,
       1480.2332, 1495.04  , 1490.8475, 1481.6068, 1498.8969, 1482.5878,
       1508.0593, 1492.3142, 1488.3274, 1478.9999, 1480.0812, 1499.044 ,
       1507.0471, 1479.0215, 1485.8422, 1497.2163, 1486.6718, 1481.8705,
       1499.5336, 1507.1744, 1485.3916, 1492.737 , 1504.7773, 1481.8423,
       1479.1329, 1481.9894, 1474.1381, 1507.6053, 1478.6307, 1496.8711,
       1496.8032, 1477.4362, 1504.8583], dtype=float32)

In [17]:
RandomeForestModel = RandomForestRegressor()
RandomeForestModel.fit(X_train, y_train)


predictions = RandomeForestModel.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

print("R2 Score" + str(r2_score(y_test,predictions)))


print("Accuracy Score : "+str(RandomeForestModel.score(X_test,y_test)))

predictions

Mean Absolute Error: 0.6770767561848983
R2 Score0.9887120731429849
Accuracy Score : 0.9887120731429849

array([1492.06199585, 1487.21650635, 1507.81549194, 1475.55401123,
       1504.22347168, 1494.48699341, 1496.97798462, 1482.58448242,
       1497.66700439, 1475.22203125, 1506.66599854, 1505.09252686,
       1507.38001587, 1488.89850586, 1480.27502197, 1505.37701782,
       1500.36097534, 1497.49199829, 1507.22500977, 1479.97595337,
       1482.34299561, 1478.64598511, 1494.29399414, 1498.82251709,
       1496.45547852, 1478.91297729, 1483.11249634, 1491.78402466,
       1504.39000244, 1485.59400757, 1499.56850952, 1496.34797607,
       1476.42200562, 1486.20399902, 1482.15699829, 1477.49549438,
       1504.10600586, 1479.83202759, 1477.0555127 , 1481.76099854,
       1506.33750732, 1478.25901367, 1478.48748901, 1482.64649902,
       1510.13298706, 1481.78099976, 1480.24900879, 1485.61200195,
       1481.92951416, 1479.38449829, 1505.2875    , 1506.53799927,
       1478.75751099, 1499.20749878, 1478.18099854, 1498.73752686,
       1482.49249878, 1478.75899902, 1475.46750732, 1478.88350464,
       1507.93352417, 1477.9599939 , 1483.7979895 , 1483.64649902,
       1478.90849609, 1481.27900024, 1484.09799438, 1482.54049805,
       1491.94099854, 1498.75850342, 1475.09101562, 1475.32701294,
       1482.81000244, 1489.24648437, 1507.68301392, 1481.4464917 ,
       1505.00749634, 1495.64200195, 1478.96001343, 1481.78000854,
       1489.34602539, 1478.62600464, 1479.83273315, 1481.91049805,
       1477.80300903, 1476.73697998, 1478.0504834 , 1473.22101074,
       1492.34899536, 1482.42048462, 1482.81000244, 1496.84850464,
       1488.22249512, 1511.75696899, 1486.55549683, 1478.90849731,
       1504.1374939 , 1478.65949341, 1480.57750854, 1481.44749878,
       1497.02499146, 1507.21650269, 1497.74049561, 1490.8639978 ,
       1478.67299805, 1507.48599487, 1478.18999268, 1482.94549316,
       1481.40788096, 1479.28548828, 1482.4099939 , 1477.1079834 ,
       1481.52352702, 1511.22649902, 1498.69899658, 1481.43400228,
       1478.84049805, 1482.58348633, 1478.41549438, 1481.90700195,
       1497.20999878, 1505.00550415, 1478.59851807, 1483.37699585,
       1505.17898926, 1475.69651855, 1480.50000366, 1477.81050537,
       1498.21799438, 1485.18298828, 1476.31199341, 1498.38598267,
       1504.60649658, 1490.6275061 , 1506.48551147, 1479.87800049,
       1477.85751465, 1483.13001343, 1506.97848633, 1487.77849121,
       1490.36899414, 1479.83200073, 1481.49951701, 1506.11699707,
       1479.29100952, 1493.1450061 , 1478.96899292, 1507.60049927,
       1505.27498901, 1480.23348877, 1495.5670105 , 1484.3499939 ,
       1479.29949463, 1502.74949707, 1484.36750244, 1480.97650269,
       1507.19501709, 1507.20150269, 1488.06498535, 1493.99348877,
       1498.45550171, 1481.40788096, 1478.93301636, 1485.58199829,
       1482.98750366, 1482.30148926, 1480.49247559, 1478.90499268,
       1481.91699951, 1481.90401489, 1478.86450195, 1489.11749878,
       1480.54352173, 1496.63748169, 1490.28099487, 1498.42999512,
       1498.32749512, 1509.53650391, 1485.82601196, 1478.97799316,
       1481.52001343, 1481.12498301, 1480.93703003, 1481.81649292,
       1476.71748657, 1510.82498535, 1483.09050781, 1480.00916585,
       1493.57250122, 1483.12549438, 1499.48550171, 1476.60899292,
       1484.26202148, 1498.95649048, 1478.82099487, 1500.8385083 ,
       1473.68898193, 1506.41350342, 1478.30151733, 1506.84549072,
       1479.5639917 , 1484.71550293, 1495.72799316, 1478.67250366,
       1480.42697632, 1505.88598389, 1483.52598755, 1485.94950928,
       1478.37149414, 1479.52400757, 1482.37599854, 1476.70850586,
       1487.75650146, 1497.80650269, 1494.01250977, 1477.68252075,
       1492.62799194, 1498.69900513, 1496.98298828, 1499.33801025,
       1474.86751953, 1483.67048584, 1493.96000854, 1478.26299194,
       1504.81452026, 1482.01400757, 1496.81700317, 1482.90000732,
       1482.67948242, 1485.63598267, 1499.13447632, 1485.65100952,
       1473.23949219, 1506.20149414, 1506.30150635, 1504.06400391,
       1500.89949097, 1485.83049072, 1487.90199585, 1478.87850098,
       1498.75101807, 1479.76099487, 1511.18549438, 1507.09751343,
       1496.72547974, 1505.24450317, 1496.63349365, 1474.67101807,
       1478.05449707, 1498.86697876, 1479.33750977, 1488.20502319,
       1509.35348999, 1481.84599854, 1480.253479  , 1476.99600708,
       1481.06961456, 1504.43848145, 1503.39899658, 1490.36299805,
       1478.99300537, 1481.35650401, 1494.68250244, 1481.90349487,
       1498.36652954, 1474.35899902, 1490.92251099, 1481.83200195,
       1481.97600464, 1507.83301392, 1480.36397827, 1488.31398926,
       1503.74249146, 1475.22752686, 1480.4294873 , 1481.76374084,
       1499.71201782, 1507.02000244, 1475.24602173, 1506.88848389,
       1497.09499146, 1512.01098389, 1510.47250366, 1504.80250122,
       1478.91499634, 1480.42800049, 1477.11350952, 1479.63599243,
       1496.43249268, 1476.30100586, 1505.08152222, 1478.56150391,
       1480.61349487, 1498.3960083 , 1480.47998535, 1480.39898071,
       1509.41800415, 1476.0545105 , 1497.95100464, 1504.94350342,
       1508.46999023, 1498.18999146, 1480.41148315, 1481.57398926,
       1502.99400391, 1478.36149414, 1505.19300293, 1485.43499023,
       1506.32298096, 1508.22351685, 1479.50950928, 1496.97599854,
       1496.11400879, 1477.28949829, 1483.45349243, 1496.929021  ,
       1483.3930188 , 1499.26000244, 1480.08899902, 1482.49248779,
       1488.6820105 , 1505.4014917 , 1487.27852051, 1490.0260022 ,
       1481.79599243, 1479.42549927, 1481.69785309, 1481.90050903,
       1481.58498169, 1504.22550293, 1487.66652588, 1484.09251221,
       1482.4874939 , 1497.02398804, 1480.69801025, 1491.07452759,
       1485.84951294, 1481.86999634, 1481.18250366, 1484.21298828,
       1477.41352539, 1508.11450806, 1480.30347778, 1495.49199707,
       1490.72550049, 1481.57449097, 1498.56400635, 1482.21400513,
       1508.05000854, 1492.01946655, 1488.21398193, 1478.90000488,
       1480.02500366, 1499.14549805, 1507.30649292, 1479.18998901,
       1485.84950684, 1497.34802246, 1486.4425061 , 1481.87550903,
       1499.37100342, 1507.24352783, 1485.53100098, 1492.10500732,
       1505.68700806, 1481.84901001, 1479.15849854, 1481.89101685,
       1474.18547607, 1507.73398315, 1478.48050781, 1497.32499146,
       1496.6864856 , 1477.68249512, 1504.96700317])

In [18]:
DesitionTreeModel = DecisionTreeRegressor()
DesitionTreeModel.fit(X_train, y_train)


predictions = DesitionTreeModel.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

print("R2 Score" + str(r2_score(y_test,predictions)))


print("Accuracy Score : "+str(DesitionTreeModel.score(X_test,y_test)))

predictions

Mean Absolute Error: 0.8579313151041666
R2 Score0.9845495860053739
Accuracy Score : 0.9845495860053739

array([1491.30004883, 1487.15002441, 1507.80004883, 1477.05004883,
       1504.19995117, 1495.65002441, 1496.44995117, 1482.59997559,
       1497.59997559, 1475.05004883, 1506.94995117, 1504.80004883,
       1508.25      , 1489.        , 1480.30004883, 1505.30004883,
       1500.69995117, 1497.5       , 1508.94995117, 1479.97497559,
       1482.        , 1477.94995117, 1495.59997559, 1499.40002441,
       1496.30004883, 1477.94995117, 1482.5       , 1491.05004883,
       1504.15002441, 1485.84997559, 1500.05004883, 1495.44995117,
       1476.5       , 1486.69995117, 1482.05004883, 1477.59997559,
       1504.05004883, 1479.55004883, 1477.25      , 1481.80004883,
       1506.75      , 1477.80004883, 1479.25      , 1482.25      ,
       1509.59997559, 1481.34997559, 1480.40002441, 1482.25      ,
       1481.80004883, 1479.59997559, 1504.44995117, 1506.69995117,
       1478.65002441, 1498.59997559, 1478.69995117, 1498.90002441,
       1482.75      , 1478.25      , 1475.90002441, 1478.40002441,
       1507.94995117, 1478.        , 1485.        , 1483.75      ,
       1478.80004883, 1480.55004883, 1484.34997559, 1482.75      ,
       1492.40002441, 1498.5       , 1475.09997559, 1476.44995117,
       1481.75      , 1489.69995117, 1507.44995117, 1481.94995117,
       1504.65002441, 1495.90002441, 1479.        , 1483.44995117,
       1490.05004883, 1477.90002441, 1479.84997559, 1482.        ,
       1478.40002441, 1476.25      , 1478.19995117, 1473.30004883,
       1493.        , 1481.94995117, 1481.75      , 1496.30004883,
       1487.59997559, 1511.69995117, 1486.55004883, 1478.80004883,
       1503.84997559, 1478.40002441, 1480.90002441, 1481.69995117,
       1497.44995117, 1506.34997559, 1498.40002441, 1489.34997559,
       1478.40002441, 1508.        , 1478.34997559, 1482.25      ,
       1481.19995117, 1479.90002441, 1482.09997559, 1476.94995117,
       1481.55004883, 1510.5       , 1499.05004883, 1481.        ,
       1478.90002441, 1482.15002441, 1479.        , 1482.        ,
       1498.        , 1505.40002441, 1478.55004883, 1483.65002441,
       1505.65002441, 1477.05004883, 1480.90002441, 1477.80004883,
       1498.25      , 1485.09997559, 1475.55004883, 1497.        ,
       1504.69995117, 1491.05004883, 1507.30004883, 1479.90002441,
       1477.05004883, 1484.15002441, 1507.44995117, 1488.75      ,
       1490.        , 1480.        , 1481.34997559, 1505.69995117,
       1479.        , 1491.65002441, 1478.94995117, 1507.5       ,
       1504.55004883, 1479.94995117, 1496.19995117, 1485.15002441,
       1479.30004883, 1502.80004883, 1484.30004883, 1481.75      ,
       1507.30004883, 1507.        , 1487.94995117, 1493.65002441,
       1498.75      , 1481.19995117, 1478.80004883, 1486.5       ,
       1484.        , 1482.75      , 1480.69995117, 1478.94995117,
       1482.44995117, 1482.        , 1479.44995117, 1489.40002441,
       1481.55004883, 1496.44995117, 1490.        , 1498.75      ,
       1498.5       , 1509.65002441, 1486.        , 1478.94995117,
       1481.34997559, 1481.        , 1481.05004883, 1480.5       ,
       1476.75      , 1510.5       , 1484.80004883, 1480.        ,
       1494.75      , 1482.65002441, 1499.40002441, 1477.09997559,
       1484.30004883, 1499.25      , 1478.25      , 1502.94995117,
       1473.19995117, 1505.15002441, 1478.5       , 1506.94995117,
       1479.59997559, 1484.34997559, 1495.94995117, 1478.80004883,
       1480.69995117, 1505.        , 1483.44995117, 1484.75      ,
       1478.09997559, 1479.5       , 1482.5       , 1476.75      ,
       1487.69995117, 1498.05004883, 1493.65002441, 1477.05004883,
       1491.30004883, 1498.65002441, 1496.34997559, 1500.05004883,
       1474.5       , 1484.5       , 1494.15002441, 1478.5       ,
       1504.40002441, 1482.5       , 1496.55004883, 1482.25      ,
       1482.44995117, 1485.09997559, 1499.94995117, 1484.5       ,
       1473.25      , 1506.94995117, 1506.25      , 1503.80004883,
       1502.94995117, 1486.09997559, 1488.94995117, 1478.65002441,
       1498.80004883, 1480.        , 1510.30004883, 1506.84997559,
       1497.        , 1505.34997559, 1496.30004883, 1473.09997559,
       1478.        , 1499.94995117, 1479.55004883, 1489.5       ,
       1509.59997559, 1482.        , 1480.40002441, 1477.05004883,
       1481.5       , 1504.25      , 1502.55004883, 1490.        ,
       1479.        , 1481.34997559, 1495.55004883, 1481.19995117,
       1499.30004883, 1475.15002441, 1490.59997559, 1482.09997559,
       1482.09997559, 1508.44995117, 1480.40002441, 1488.        ,
       1502.34997559, 1475.30004883, 1480.59997559, 1482.59997559,
       1500.05004883, 1506.90002441, 1475.30004883, 1507.09997559,
       1498.        , 1512.        , 1510.5       , 1504.25      ,
       1478.80004883, 1479.80004883, 1477.05004883, 1479.69995117,
       1494.90002441, 1475.55004883, 1504.25      , 1477.80004883,
       1481.30004883, 1498.69995117, 1479.69995117, 1480.84997559,
       1509.75      , 1476.        , 1499.40002441, 1505.34997559,
       1509.        , 1498.30004883, 1480.44995117, 1481.09997559,
       1502.84997559, 1477.69995117, 1505.        , 1484.5       ,
       1506.94995117, 1508.09997559, 1479.30004883, 1495.        ,
       1495.44995117, 1478.        , 1483.5       , 1496.30004883,
       1484.80004883, 1499.80004883, 1480.34997559, 1482.75      ,
       1489.        , 1505.        , 1487.94995117, 1489.5       ,
       1482.        , 1479.5       , 1481.69995117, 1483.90002441,
       1481.59997559, 1504.65002441, 1487.80004883, 1483.44995117,
       1481.75      , 1496.94995117, 1480.65002441, 1491.05004883,
       1485.5       , 1481.25      , 1480.65002441, 1484.34997559,
       1477.05004883, 1509.        , 1480.40002441, 1495.94995117,
       1491.15002441, 1481.69995117, 1498.80004883, 1482.05004883,
       1508.40002441, 1491.19995117, 1488.        , 1478.94995117,
       1479.5       , 1499.75      , 1507.75      , 1478.90002441,
       1486.5       , 1498.05004883, 1486.05004883, 1482.        ,
       1498.90002441, 1507.05004883, 1485.65002441, 1491.59997559,
       1506.44995117, 1481.90002441, 1479.65002441, 1482.        ,
       1473.94995117, 1507.94995117, 1477.90002441, 1498.69995117,
       1496.84997559, 1478.        , 1505.        ])

In [19]:

import pickle
pickle.dump(my_model,open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/XGBoost.pkl','wb'))
pickle.dump(RandomeForestModel,open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/RandomForestRegressor.pkl','wb'))
pickle.dump(DesitionTreeModel,open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/DesicionTreeModel.pkl','wb'))

# pickle.dump(my_model,open('/content/drive/MyDrive/AI COLLAGE/5m_Nifty_RandomForestRegressor.pkl','wb'))


import yfinance as yf
import datetime as dt
import pickle
from sklearn.metrics import mean_absolute_error,r2_score,accuracy


# Load the model from the pickle file
with open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/RandomForestRegressor.pkl', 'rb') as f:
    Rand = pickle.load(f)


with open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/DesicionTreeModel.pkl', 'rb') as f:
    Decision = pickle.load(f)


with open('/home/rahul/Desktop/Rahul/DE SEM 6/stock-prediction-bot/technical_analysis/technical_analysis_model/model_pkl_files/XGBoost.pkl', 'rb') as f:
    XgBoostModel = pickle.load(f)

while True:
    ticker = yf.Ticker('^NSEI')
    start=dt.datetime.now().strftime('%Y-%m-%d')
    end=(dt.datetime.now() + dt.timedelta(days=1)).strftime('%Y-%m-%d')

    data = ticker.history(interval='5m',start=start,end=end)
    data.reset_index(inplace=True)
    # print(data)
    data.columns = data.columns.str.strip()  # Remove extra spaces from column names

    data.drop(['Datetime', 'Volume', 'Dividends', 'Stock Splits'], inplace=True, axis=1)
    y = data['Close'].copy()
    data.drop(['Close'], inplace=True, axis=1)

    print("Random Forest Regressor")
    print("---------------------------\n")
    Rand_predic=Rand.predict(data)
    last_pred=Rand_predic[-1]
    print(f'Last Prediction ----------> :{ last_pred}')
    print(f'mae : {mean_absolute_error(y,Rand_predic)}')
    # print(f"Rand Accuracy Score :{}")
    print(f'r2 : {r2_score(y,Rand_predic)}')
    print("---------------------------")
    print("\n\n\n")

    print("Desicion Tree Regressor")
    print("---------------------------\n")
    DecisionPred=Decision.predict(data)
    last_pred=DecisionPred[-1]
    mae=mean_absolute_error(y,DecisionPred)
    # last_pred=last_pred+mae
    print(f'Last Prediction ----------> :{ last_pred}')
    print(f'mae : {mae}')
    print(f'r2 : {r2_score(y,DecisionPred)}')
    print("---------------------------")
    print("\n\n\n")

    print("XgBoostModel ")
    print("---------------------------\n")
    XgBoostPred=XgBoostModel.predict(data)
    last_pred=XgBoostPred[-1]
    print(f'Last Prediction ----------> :{ last_pred}')
    print(f'mae : {mean_absolute_error(y,XgBoostPred)}')
    print(f'r2 : {r2_score(y,XgBoostPred)}')
    print("---------------------------")
    print("\n\n\n")
    # data